<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
	<link rel="stylesheet" href="{% static 'paginaP/css/posicion.css' %}" type = "text/css"/>
    <meta charset="UTF-8">
    <title>Ajustes</title>
</head>
<body>
    <h1>Ajustes de parametros</h1>
    <form action="/ajusteParametros/" method="post" enctype="multipart/form-data">
    <table>
        {% csrf_token %}
        {% for field in form %}
        <tr><td> {{ field.label_tag }}</td><td> {{ field }}</td></tr>
        {% endfor %}
    </table>
        <input type="Submit" value="Aceptar" name="b1" class="myButton"/>
        <input type="Submit" value="Cancelar" name="b2" class="myButton"/>
        <input type="Submit" value="Restaurar " name="b3" class="myButton"/>
</form>
</body>
</html>
